#n1{
    color:darkblue;
}
#n2{
    color:darkblue;
}
#n3{
    color:white;
}

#col{
    background-color:darkblue;
    width:500px;
    color: white;   
}
#janu{
    background-color:lightslategray;
    width: 180px;
}
#srav{
    background-color:lightslategray;
    width: 180px;
}
#srav1{
    background-color:lightslategray;
    width: 180px;
}
#n4{
    color: darkblue;
}